.AuiButtonRoot {
  // base
  border: 0;
  cursor: pointer;
  outline: 0;
  position: relative;
  border-radius: 6px;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 10px 16px;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba($dark, 0.05);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  // primary
  &.AuiButton-primary {
    color: $primary;

    &:hover {
      background-color: rgba($primary, 0.05);
    }
  }

  // secondary
  &.AuiButton-secondary {
    color: $secondary;

    &:hover {
      background-color: rgba($secondary, 0.05);
    }
  }

  // filled
  &.AuiButton-filled {
    background-color: rgba($dark, 0.05);

    &.AuiButton-primary {
      background-color: $primary;
      color: $white;
    }

    &.AuiButton-secondary {
      background-color: $secondary;
      color: $white;
    }
  }

  .AuiButton-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .AuiButton-spinner {
      margin-right: 5px;
    }
  }

}
