.AuiCard-root {
  position: relative;
  border-radius: 20px;
  border: solid 1px transparent;
  box-shadow: 0 1px 6px 0 rgba($dark-grey, 0.12);
  background-color: $white;

  padding: 32px;

  transition: border-color 300ms ease-in-out;

  &.AuiCard-outlined {
    border: solid 1px $grey-2;
    box-shadow: none;
  }

  &.AuiCard-active {
    border: solid 1px $secondary !important;
  }

  &.AuiCard-selectable {
    cursor: pointer;
    &:hover {
      border: solid 1px $primary;
    }
  }
}

.AuiSelectableCards-root {
  display: flex;
  div:not(:last-child) {
    margin-right: 20px;
  }
}
