$small: 6px;
$medium: 10px;
$large: 16px;

.AuiLoadingDots-root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .AuiLoadingDots {
    position: relative;
    width: $medium;
    height: $medium;
    border-radius: 100%;
    background-color: $primary;
    color: $primary;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;

    &::before, &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
    }

    &::before {
      left: calc(-3/2*#{$medium});
      width: $medium;
      height: $medium;
      border-radius: 100%;
      background-color: $primary;
      color: $primary;
      animation: dotFlashing 1s infinite alternate;
      animation-delay: 0s;
    }

    &::after {
      left: calc(3/2*#{$medium});
      width: $medium;
      height: $medium;
      border-radius: 100%;
      background-color: $primary;
      color: $primary;
      animation: dotFlashing 1s infinite alternate;
      animation-delay: 1s;
    }
  }

  &.AuiLoadingDots-small .AuiLoadingDots {
    width: $small;
    height: $small;

    &::before, &::after {
      width: $small;
      height: $small;
    }

    &::before {
      left: calc(-3/2*#{$small});
    }

    &::after {
      left: calc(3/2*#{$small});
    }
  }

  &.AuiLoadingDots-large .AuiLoadingDots {
    width: $large;
    height: $large;

    &::before, &::after {
      width: $large;
      height: $large;
    }

    &::before {
      left: calc(-3/2*#{$large});
    }

    &::after {
      left: calc(3/2*#{$large});
    }
  }
}
