$primary: #4380ff !default;
$secondary: #ff438c !default;

$danger: #ff0000 !default;
$success: #3ac47d !default;
$warning: #f7b924 !default;

$dark: #000 !default;
$dark-indigo: #092041 !default;

$dark-grey: #31353b !default;
$grey: #8E8E93 !default;
$soft-grey: #bdbdbd !default;
$grey-2: #E2E2E2 !default;
$grey-3: #EFEFF4 !default;

$white: #ffffff !default;
