$primary: #4380ff;
$secondary: #ff438c;

$danger: #d92550;
$success: #3ac47d;
$warning: #f7b924;

$dark: #000;
$dark-indigo: #092041;

$dark-grey: #31353b;
$grey: #8E8E93;
$grey-2: #E2E2E2;
$grey-3: #EFEFF4;

$white: #ffffff

